$primary: #000000;

$text: #6B6762;
$textMid: #808080;
$textLight: #C0C0C0;

$pillar1: #FF5435;
$pillar2: #FAC800;
$pillar3: #78DCCA;
$pillar4: #3E4BA7;

$background: #F8F8F8;
$backgroundDark: #443D40;

$warning: #c40202;